#users
  #header
    %h4 facebook
  #user_header
    %h1 Listing users

    %table
      %tr
        %th Username
        %th First name
        %th Last name
        %th Birthday
        %th Add friend


      - @users.each do |uzer|
        %tr
          %td= link_to uzer.username, uzer
          %td= uzer.first_name
          %td= uzer.last_name
          %td= uzer.birthday
          %td= submit_tag 'Add', :name => "Add[#{uzer.id}]"
          
				
          
          
