%p#notice= notice #only want when new user is created

#profile
  #header
    %h4= link_to 'facebook', user_newsfeed_path
  #prof_header
    %p
      %h1= "#{@user.first_name} #{@user.last_name}"
    %p
      %h2.profile= "Username: #{@user.username}"

  #user_info
    %table
      %tr
        %td
          %h2 Birthday:
      %tr
        %td= @user.birthday
      %tr
        %td
          %h2 Interests:
      %tr
        %td= @user.interests
      %tr
        %td
          %h2 Quotes:
      %tr
        %td= @user.quotes
  
= form_tag user_path do 
  #friends 
    %table
      %tr
        %th First name
        %th Last name
        %th Remove friend
        
      - @user.friends.each do |fr|
        - @fuser = User.find_by_username(fr.friend_username)
        %tr
          %td= link_to @fuser.first_name, user_profile_path(@fuser)
          %td= link_to @fuser.last_name, user_profile_path(@fuser)
          %td= submit_tag 'Remove', :name => "Remove[#{fr.id}]"
  
  #requests             
    %table
      %tr
        %th First name
        %th Last name
        %th Accept
        %th Decline
        
        - @user.friendrequests.each do |freq|
          - @frequser = User.find_by_username(freq.futurefriend)
          %tr
            %td= link_to @frequser.first_name, user_profile_path(@frequser)
            %td= link_to @frequser.last_name, user_profile_path(@frequser)
            %td= submit_tag 'Accept', :name => "Accept[#{freq.id}]"
            %td= submit_tag 'Decline', :name => "Decline[#{freq.id}]"


  = submit_tag 'Clear Wall', :name => 'clear_button'


%footer
  
  - if current_user.id == @user.id
    = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Newsfeed', user_newsfeed_path(current_user)
  \|
  = link_to 'Search for Friends', user_search_path(current_user)
