#users
  #user_header
    %h1 Matching Search Results

    #results
      %table
        %tr
          %th Username
          %th First name
          %th Last name
          %th Add friend


        - @users.each do |uzer|
          %tr
            %td= link_to uzer.username, "#{uzer.id}_profile_path"
            %td= uzer.first_name
            %td= uzer.last_name
            %td= submit_tag 'Add', :name => "Add[#{uzer.id}]"
          
				
          
          
