= form_tag user_search_path do

  .field
    = label_tag :last_name
    = text_field_tag :last_name, params[:last_name]
    
  .actions
    = submit_tag 'Search', :name => 'search_button'
    
    
    
  - if @users.length > 0
    = render 'form3'
