
%p#notice= notice #only want when new user is created

#profile
  #header
    %h4 facebook
  #prof_header
    %p
      %h1= "#{@user.first_name} #{@user.last_name}"
    %p
      %h2.profile= "Username: #{@user.username}"

  #user_info
    %table
      %tr
        %td
          %h2 Birthday:
      %tr
        %td= @user.birthday
      %tr
        %td
          %h2 Interests:
      %tr
        %td= @user.interests
      %tr
        %td
          %h2 Quotes:
      %tr
        %td= @user.quotes
  
= form_tag user_path do  
  %table
    %tr
      %th First name
      %th Last name
      - if current_user.id == @user.id
        %th Remove friend
        
    - @user.friends.each do |fr|
      - @fuser = User.find_by_username(fr.friend_username)
      %tr
        %td= @fuser.last_name 
        %td= @fuser.first_name
        - if current_user.id == @user.id
          %td= submit_tag 'Remove', :name => "Remove[#{fr.id}]"
        

  %footer
    - if current_user.id == @user.id
      = link_to 'Edit', edit_user_path(@user)
    \|
    = link_to 'Back', users_path

  

  
   
