%p#notice= notice #only want when new user is created

#profile
  #header
    %h4= link_to 'facebook', user_newsfeed_path
  #prof_header
    %p
      %h1= "#{@user.first_name} #{@user.last_name}"
    %p
      %h2.profile= "Username: #{@user.username}"

  #user_info
    %table
      %tr
        %td
          %h2 Birthday:
      %tr
        %td= @user.birthday
      %tr
        %td
          %h2 Interests:
      %tr
        %td= @user.interests
      %tr
        %td
          %h2 Quotes:
      %tr
        %td= @user.quotes
  
= form_tag user_path do 
  #friends 
    %table
      %tr
        %th First name
        %th Last name
        - if current_user.id == @user.id
          %th Remove friend
        
      - @user.friends.each do |fr|
        - @fuser = User.find_by_username(fr.friend_username)
        %tr
          %td= link_to @fuser.first_name, "#{fr.id}/profile"
          %td= link_to @fuser.last_name, "#{fr.id}/profile"
          - if current_user.id == @user.id
            %td= submit_tag 'Remove', :name => "Remove[#{fr.id}]"
  
  #requests      
    - if current_user.id == @user.id        
      %table
        %tr
          %th First name
          %th Last name
          %th Accept
          %th Decline
        
        - @user.friendrequests.each do |freq|
          - if freq.user.id == current_user.id
            - @frequser = User.find_by_username(freq.futurefriend)
            %tr
              %td= link_to @frequser.first_name, "#{freq.id}/profile"
              %td= link_to @frequser.last_name, "#{freq.id}/profile"
              %td= submit_tag 'Accept', :name => "Accept[#{freq.id}]"
              %td= submit_tag 'Decline', :name => "Decline[#{freq.id}]"



%footer
  - if @user == current_user
    = submit_tag 'Clear Wall', :name => 'clear_button'
  - if current_user.id == @user.id
    = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path

  

  
   
