
%p#notice= notice #only want when new user is created

#profile
  #header
    %h4 facebook
  #prof_header
    %p
      %h1= "#{@user.first_name} #{@user.last_name}"
    %p
      %h2.profile= "Username: #{@user.username}"


  %table
    %tr
      %td
        %h2 Birthday:
    %tr
      %td= @user.birthday
    %tr
      %td
        %h2 Interests:
    %tr
      %td= @user.interests
    %tr
      %td
        %h2 Quotes:
    %tr
      %td= @user.quotes
  


  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
